.features {
  width: 100%;
  height: auto; /* Allow height to adjust based on content */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #3a190b;
  padding: 20px 0; /* Add padding for spacing */
}

.sectionTitle {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px; /* Add margin for spacing */
}

.featureList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  gap: 20px; /* Add space between items */
}

.featureItem {
  width: 30%;
  padding: 15px;
  color: white;
  background-color: hsl(0deg 0% 100% / 3%);
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

.featureItem p {
  color: white;
}

.featureItem:hover {
  transform: scale(1.1);
  background-color: #ff6a0038;
}

.FeatureItemLink { 
  display: contents;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .featureList {
    flex-direction: column;
    align-items: center;
  }

  .featureItem {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 1.5rem;
  }

  .featureItem {
    width: 90%;
    padding: 10px;
    font-size: 0.9rem;
  }
}
